<li class="list-group-item">
  <div class="row font-weight-bold">
    <div class="col-md-3">ID</div>
    <div class="col-md-2">Name</div>
    <div class="col-md-3">Child Node IDs</div>
    <div class="col-md-4">Actions</div>
  </div>
</li>

@for (node of nodes(); track node.id) {
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{ node.id }}</div>
      <div class="col-md-2">{{ node.name }}</div>
      <div class="col-md-3">
        <ul>
          @for(childId of node.childNodeIds; track childId) {
            <li>{{ childId }}</li>
          }
        </ul>
      </div>
      <div class="col-md-4">
        @if (childType()) {
          <app-add-entity [entityType]="childType()!" [parentId]="node.id" [placeholder]="'Child entity name'" />
        }
        <button class="btn btn-danger" (click)="deleteEntity(node)">X</button>
      </div>
    </div>
  </li>
}
