<div class="container">
  <h1>{{ title }}</h1>
  <span>
    This app shows how ngrx can be used to store entities with relations between each other.
    Deletions are cascaded to child entities.
  </span>

  <div class="row my-4">
    <div class="col-12">
      <button
        class="btn btn-primary me-2"
        (click)="createExampleData()"
        [title]="exampleDataDescription"
      >
        Create example data
      </button>
      <button class="btn btn-danger" (click)="resetData()">Reset data</button>
    </div>
  </div>

  @for (entityView of entityViewDefinitions; track entityView.type) {
    <div class="card my-4">
    <div class="card-header">
      <h2>{{ entityView.name }}</h2>
    </div>

    <div class="card-body">
      <ul class="list-group">
        <app-entity-view
          [entityType]="entityView.type"
          [entities]="entityView.data$ | async"
          [childType]="entityView.childType"
        />
      </ul>
    </div>
    @if (entityView.type === 'entityL1') {
      <div class="card-footer">
        <app-add-entity
          [entityType]="'entityL1'"
          [parentId]="null"
          [parentType]="null"
          [placeholder]="'Entity name'"
        />
      </div>
    }
    </div>
  }
</div>
